.DS_Store
ckpts
nucleus_images_2d
nucleus_images
ca2_intra_no_norm
ca2_results
ca2_whole_cell_results
ca2_whole_cell_prediction_no_norm
proc_ca2_npys
ca2_whole_cell_no_norm
ca2
nucleus_plots
nucleus_detrend_plots
ca2_intra_no_norm_2d
nucleus_sanity
nucleus_rois
cytoplasm_rois
cytoplasm_far_rois
ca2_classification_cytoplasm_far_rois_baseline/
ca2_classification_cytoplasm_rois_baseline/
ca2_classification_nucleus_rois_baseline/
ca2_classification_cytoplasm_far_rois/
ca2_classification_nucleus_rois/
ca2_classification_cytoplasm_rois/
cytoplasm_far_split_rois/
cytoplasm_split_rois/
nucleus_rois_plots/
cytoplasm_rois_plots/
cytoplasm_far_rois_plots/
ca2_classification_cytoplasm_split_rois/
ca2_classification_cytoplasm_far_split_rois
*.csv
__pycache__
*.pyc
*.mp4
